.custom-dialog {
  min-width: 80%;
  min-height: 100%;
  top:5%;}

.video-player {
  min-width: 100%;
  min-height: 100%;
}

.map-image {
  min-width: 70%;
  left:15%;
  top: 10%;
  min-height: 80%;
}
