.card-button {
  margin: none;
  padding: none;
  border: none;
  background: none;
  outline: none;
  text-decoration: none;
}

.card-body {
  display: center;
  width: 15rem;
  height: 15rem;
}

.card:active {
  box-shadow: 0px 0px #717a33;
  background-color: grey;
  top: 5px;
}

.card {
  border-radius: 50%;
  border-color: black;
  border-width: 1.8px;
}

.col {
  padding: 0px;

}
.main-container{
  min-height: 1100px;
}

.btn{
  outline: none;
  text-decoration: "none";
}

.btn:hover{
  outline: none;
  text-decoration: "none";
}

.big-container{
  min-height: 1000px;
  max-height: 1000px;
  overflow-y: auto;
}

.medium-container{
  min-height: 935px;
  max-height: 935px;
  overflow-y: auto;
}

.modal-container{
  min-height: 500px;
  max-height: 500px;
  max-width: 600px;
  min-width: 600px;
}

.modal-image{
  max-width: 600px;
  min-width: 600px;
}
