
@import url('https://fonts.googleapis.com/css?family=Roboto:300');


.profile-navbar{
  margin-top: 0px;
  min-height: 80px;
}
/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  display: center;
  text-align: center;
  min-height: 120px;
  max-height: 120px;
  margin-top: 30px;
  background-color: black;
  margin-bottom: 20px;
}

/* Style the links inside the navigation bar */
.topnav h1 {
  float: left;
  color: white;
  margin-top: 25px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 50px;
  text-transform: uppercase;
}

.lupita{
  float:right;
  margin-top: 20px;
}
