
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.navbar {
        display: center;
        text-align: center;
        min-height: 120px;
        margin-top: 30px;
        background-color: black;
        margin-bottom: 80px;
    }
