<<<<<<< HEAD

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.navbar {
        display: center;
        text-align: center;
        min-height: 120px;
        margin-top: 40px;
        background-color: black;
        margin-bottom: 80px;
=======
.navbar {
        left: 38%;
        display: center;
        text-align: center;
>>>>>>> 3b5eb3fa09f952acbde5f110efe32511a2e393ba
    }
